<body bgcolor="black" text="white">
<div align="center">
<h1>Hello</h1>
<hr color="red">
<form method = "post" action = "cents">
<input value = "Type here" type = "text">
<input type = "submit">
</form>
</div>
<hr color="#00FF00">
</body>